/*btn add kh*/
.Btnaddkh {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    padding: 0px 20px;
    background-color: rgb(168, 38, 255);
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(140, 32, 212);
    transition-duration: 0.3s;
}

.svg {
    width: 13px;
    position: absolute;
    right: 0;
    margin-right: 20px;
    fill: white;
    transition-duration: .3s;
}

.Btnaddkh:hover {
    color: transparent;
}

.Btnaddkh:hover svg {
    right: 43%;
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
}

.Btnaddkh:active {
    transform: translate(3px , 3px);
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

/*btn search*/
.InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
}

.labelforsearch {
    cursor: text;
    padding: 0px 12px;
}

.searchIcon {
    width: 13px;
}

.border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
}

.micIcon {
    width: 12px;
}

.micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: .3s;
}

.searchIcon path {
    fill: rgb(114, 114, 114);
}

.micIcon path {
    fill: rgb(255, 81, 0);
}

.micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: .3s;
}


/*btn xoa*/
.delete-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(255, 69, 69);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
}

.delete-svgIcon path {
    fill: white;
}

.delete-button:hover {
    width: 90px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.delete-button:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.delete-button::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.delete-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

/*btn edit*/
.edit-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffa500;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    text-decoration: none !important;
}

.edit-svgIcon {
    width: 17px;
    transition-duration: 0.3s;
}

.edit-svgIcon path {
    fill: white;
}

.edit-button:hover {
    width: 120px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: orange;
    align-items: center;
}

.edit-button:hover .edit-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.edit-button::before {
    display: none;
    content: "Edit";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.edit-button:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
}

/*css ảnh */

.Choicefile {
    display: block;
    background: #EB8153;
    border: 1px solid #fff;
    color: #fff;
    width: 150px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 0px;
    border-radius: 5px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

.Choicefile:hover {
    text-decoration: none;
    color: white;
}

#uploadfile,
.removeimg {
    display: none;
}

#thumbbox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.removeimg {
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    top: 5px;
    left: 5px;
    background-size: 25px;
    width: 25px;
    /* border: 3px solid red; */
    border-radius: 50%;

}

.removeimg::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    border: 1px solid red;
    background: red;
    text-align: center;
    display: block;
    margin-top: 11px;
    transform: rotate(45deg);
}

.removeimg::after {
    /* color: #FFF; */
    /* background-color: #DC403B; */
    content: '';
    background: red;
    border: 1px solid red;
    text-align: center;
    display: block;
    transform: rotate(-45deg);
    margin-top: -2px;
}


/*input giao ca */
.input-wrapper1 {
    position: relative;
    /*width: 200px;*/
    /*margin: 50px auto;*/
}

.input-box1 {
    font-size: 16px;
    /*padding: 10px 0;*/
    border: none;
    border-bottom: 2px solid #ccc;
    color: #000000;
    width: 100%;
    background-color: transparent;
    transition: border-color 0.3s ease-in-out;
}

.underline1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: green;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.input-box1:focus {
    border-color: green;
    outline: none;
}

.input-box1:focus + .underline1 {
    transform: scaleX(1);
}


/*btn export*/
.buttonExport {
    --main-focus: #2d8cf0;
    --font-color: #BF0000;
    --bg-color-sub: #EFCACA;
    --bg-color: #EFCACA;
    --main-color: #f2c2c2;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.buttonExport, .button__icon, .button__text {
    transition: all 0.3s;
}

.buttonExport .button__text {
    transform: translateX(21px);
    color: var(--font-color);
    font-weight: 600;
}

.buttonExport .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonExport .svgExport {
    width: 20px;
    fill: var(--font-color);
}

.buttonExport:hover {
    background: var(--bg-color);
}

.buttonExport:hover .button__text {
    color: transparent;
}

.buttonExport:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.buttonExport:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}



/*btn import*/
.buttonImport {
    --font-color1: #00852d;
    --bg-color-sub1: #A6edab;
    --bg-color1: #A6edab;
    --main-color1: #8ff296;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color1);
    box-shadow: 4px 4px var(--main-color1);
    background-color: var(--bg-color1);
    border-radius: 10px;
    overflow: hidden;
}

.buttonImport, .button__icon1, .button__text1 {
    transition: all 0.3s;
}

.buttonImport .button__text1 {
    transform: translateX(21px);
    color: var(--font-color1);
    font-weight: 600;
}

.buttonImport .button__icon1 {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonImport .svgImport {
    width: 20px;
    fill: var(--font-color1);
}

.buttonImport:hover {
    background: var(--bg-color1);
}

.buttonImport:hover .button__text1 {
    color: transparent;
}

.buttonImport:hover .button__icon1 {
    width: 148px;
    transform: translateX(0);
}

.buttonImport:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color1);
}


/*ghichu hoadon*/
.group123 {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
}

.inputghichu {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.inputghichu::placeholder {
    color: #9e9ea7;
}

.inputghichu:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}



/*btn point*/
.buttonPoint {
    --main-focus: #EB8153;
    --font-color: #f5f5f5;
    --bg-color-sub: #EB8153;
    --bg-color: #EB8153;
    --main-color: #d4744a;
    position: relative;
    width: 170px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.buttonPoint, .button__icon2, .button__text2 {
    transition: all 0.3s;
}

.buttonPoint .button__text2 {
    transform: translateX(21px);
    color: var(--font-color);
    font-weight: 600;
}

.buttonPoint .button__icon2 {
    position: absolute;
    transform: translateX(119px);
    height: 100%;
    width: 59px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonPoint .svgPoint {
    width: 40px;
    fill: var(--font-color);
}

.buttonPoint:hover {
    background: var(--bg-color);
}

.buttonPoint:hover .button__text2{
    color: transparent;
}

.buttonPoint:hover .button__icon2 {
    width: 168px;
    transform: translateX(0);
}

.buttonPoint:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}


/*radio lọc trạng thái*/
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}


/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider {
    background-color: #007bff;
    border: 1px solid #007bff;
}

input:focus + .slider {
    box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
}